rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Any logged-in user can read/write all collections
    // This is safe because all routes are protected by Firebase Auth
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
